@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Artifika&effect=anaglyph');

* {
    margin:0;
    padding:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

html,body {
    height:auto
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%
}

h2 {
    font-size:110%;
}

p {
    margin:1em 0
}

body {
    background-color:#fff;
    font:13.34px "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:small;
    -webkit-font-smoothing:antialiased;
    text-align:center
}

a {
    color:#3498db;
    text-decoration:none
}

a:hover {
    color:#2980b9
}

.posts {
    list-style-type:none;
    margin-bottom:2em
}

.posts li {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height:2em
}

.posts span {
    color:#aaa;
    font-family:Monaco,"Courier New",monospace;
    font-size:75%
}

@media only screen and (max-width:400px) {
.posts li span {
    display:none
}
}

main {
    font-size:16px;
    text-align:left;
    margin:2em auto .5em;
    line-height:1.5em;
    max-width:50em;
    padding-left:18px;
    padding-right:18px
}

header a {
    font-weight:700;
    text-decoration:none
}

.title {
    display:inline-block;
    line-height:.5em;
    margin-bottom:2em;
    font-size:1em
}

.title a {
    color:#e74c3c
}

.title a:hover {
    color:#000
}

.title {
    margin-top:.4em;
    font-family: 'Artifika'
}

.meta {
    color:#aaa
}

code,pre {
    font-family: Consolas,monaco,monospace
}

code {
    padding:2px 4px;
    font-size:95%;
    color:#c7254e;
    background-color:#f9f2f4;
    border-radius:4px
}

pre {
    display:block;
    padding:10px;
    margin:0 0 10.5px;
    font-size:14px;
    line-height:1.42857;
    word-break:break-all;
    word-wrap:break-word;
    white-space:pre-wrap
}

pre code {
    padding:0;
    font-size:13.6px;
    color:inherit;
    background-color:transparent
}

.highlight {
    margin-bottom:15px;
    border-radius:4px
}

.highlight pre {
    margin-bottom:0
}

blockquote {
    padding:0 18px;
    margin:15px 0;
    border-left:4px solid rgba(52,73,94,0.85)
}

blockquote p {
    margin-bottom:0;
    color:#7a7a7a
}

article {
    overflow:auto;
    word-wrap:break-word
}

article ul,article ol {
    margin-left:1.35em;
    margin-bottom:.7em
}

article img {
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    vertical-align:middle;
    page-break-inside:avoid
}

footer #date {
    float:right
}

footer #return,footer #date {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

#home p.intro {
    margin-top:0
}

.videoWrapper {
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0
}

.videoWrapper iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
